# Домены, которые будет обслуживать Caddy
# Первый домен для локальной разработки, второй для продакшена (воображаемого)
localhost, devops-example.test {
    # Формируем самоподписной сертификат для работы https
    tls internal

    # Отдаем картинки напрямую из файловой системы минуя приложение
    # Картинки в нашем проекте хранятся в /app/public внутри образа с Caddy
    # Выше в Dockerfile мы туда их копируем
    # /images/app.png => /app/public/images/app.png
    handle /images/* {
        file_server
        root * /app/public
    }

    # Все остальные запросы передаются в приложение
    handle {
        # app - имя домена во внутренней сети Docker
        # В девелопменте совпадает с именем сервиса в docker-compose.yml
        # Для продакшена надо будет создать общую сеть
        reverse_proxy app:3000
    }

    # Включаем логгирование для удобной отладки
    log {
        format json
    }
}